<div>
    <div>
        Max size: <input type="text" ng-model="size">
        <br>
        Min forks: <input type="text" ng-model="forks">
        <br>
        Min stars: <input type="text" ng-model="stars">
        <br>
        <button ng-click="find()" type="submit">Find</button>
    </div>
    <div>
        Count:   <input type="text" ng-model="count" required>
        Filter:  <input ng-mogel="filter">
        Sort by: <select ng-model="sort">
            <option value=true>asc</option>
            <option value="">desc</option>
        </select>
    </div>
    <div>
        <ul>
            <li ng-repeat="repo in repositories | filter: filter | limitTo: count | orderBy: 'full_name':sort">
                <a href="{{repo.html_url}}">{{repo.full_name}}</a>
                <p>{{repo.id}}</p>
                <div>
                    Owner: <img src="{{repo.owner.avatar_url}}">
                    <div style="margin-left:150px">
                        <p>Login: {{repo.owner.login}}</p>
                        <p>Id: {{repo.owner.id}}</p>
                    </div>
                </div>
                <p>description: {{repo.description}}</p>
                <a href="#/Info/{{repo.id}}">Info</a>
                <br>
                <hr>
            </li>
        </ul>
    </div>
</div>